@CHARSET "UTF-8";

*{
	margin:0;
	padding:0;
	border:0;
	text-decoration:none;
	outline: none;
}

body{
	font-family: "Arial", sans-serif;
	background-color: #9C8EAD;
}
#main {
	width: 700px;
	margin: 0 auto;
	padding: 30px 30px 70px 30px;
	border-style:double;
	border-color:#98bf21;
	border-width: 0 30px 30px 30px;
	background-color: #F2F2F2;
	-webkit-box-shadow: 0px 0px 50px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 0px 50px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 0px 50px rgba(50, 50, 50, 0.7);
}
a{
	color:#7C4DA1;
	text-decoration:underline;
}
header {
	margin-bottom: 50px;
	text-align:right;
}
h1 {
	margin-bottom: 20px;
	text-align:left;
}
h2 {
	margin-bottom: 10px;
}
p {
	margin-bottom:3px;
}
input[type="text"]{
	padding:3px;
	border:solid 1px #98bf21;
}
input[type="submit"]{
	padding: 5px;
	border:solid 1px #98bf21;
	background-color:#DFF0AA;
	font-weight:bold;
	margin-bottom:15px;
}
.next {
    font-size:170%;
    text-align: center;
    margin: 30px 0;
}
div.picContainer{
    width:33%;
    float:left;
    margin-top: 20px;
}
div.picContainer img {
    width: 90%;
    margin: 0 5%;
}
.next {
    font-size:170%;
    text-align: center;
    margin: 30px 0;
}
.link {
    color: #555;
}
ol {
	list-style-type: upper-roman;
	padding: 10px 0;
	margin-left: 10px;
}

.aside {
	float: right;
	width: 250px;
}
.aside img{
	width: 100%;
}